In [1]:
import pandas as pd
import config as cfg
from sqlalchemy import create_engine

In [2]:
# creating a connection to an aws rds postgres cloud database.
rds_connection_string = f'postgres:{cfg.password}@test-db.cy2enoewwvsi.us-east-2.rds.amazonaws.com:5432/stocks_db'
engine = create_engine(f'postgres://{rds_connection_string}')

In [3]:
# checking out the table names in the database.
engine.table_names()

['sandp_500', 'sandp_russell', 'russell_2000']

In [5]:
# checking out the SandP_500 table.
pd.read_sql_query('SELECT * FROM SandP_500', con=engine).head()

,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,enterprise_value_multiple,...,five_year_dividend_growth_per_share,three_year_dividend_growth_per_share,receivables_growh,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment
0,A,"Agilent Technologies, Inc.",2.55170,5.17165,1.48130,6.30885,7.0014,18.1807,13.57995,16.746223,...,-99.0,-99.0,0.11660,0.0758,0.18005,0.15185,0.31885,-0.0674,0.01880,154.294300
1,AAL,"American Airlines Group, Inc.",-99.00000,-99.00000,0.11565,-99.00000,27.3348,-99.0000,2.20925,61.812855,...,-99.0,-99.0,-0.04605,0.0637,-0.00170,-0.06235,0.00975,-99.0000,0.01435,660.017485
2,AAP,"Advance Auto Parts, Inc.",2.95660,3.10380,0.70600,14.16840,57.0461,7.4185,5.46130,0.499984,...,-99.0,-99.0,-0.04780,0.0054,0.03670,0.19520,-0.57150,-99.0000,0.10360,42.400978
3,AAPL,"Apple, Inc.",5.42765,4.62715,3.98235,19.54495,10.0906,17.3279,15.35960,0.493341,...,-99.0,-99.0,1.02515,0.6019,0.44800,0.44245,-99.00000,0.2694,0.21645,312.660761
4,ABBV,"AbbVie, Inc.",16.46870,-99.00000,3.01900,10.48360,-99.0000,9.2123,8.74540,0.001609,...,-99.0,-99.0,-99.00000,-99.0000,-99.00000,-99.00000,-99.00000,0.4613,0.14080,183.124497