In [7]:
# importing necessary modules.
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
import config9 as cfg

In [11]:
postgres_password = cfg.password
database_name = 'optimal_portfolio'

In [12]:
# creating a connection to an aws rds postgres cloud database.
rds_connection_string = f'postgres:{postgres_password}@localhost:5432/{database_name}'
engine = create_engine(f'postgres://{rds_connection_string}')

In [13]:
# checking out the table names in the database.
engine.table_names()

['sandp']

In [14]:
# checking out the SandP_500 table.
sandp = pd.read_sql_query('SELECT * FROM sandp', con=engine)
sandp.head()

,index,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,...,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment,industry,sector,above_below_sandp_return
0,0,A,"Agilent Technologies, Inc.",2.55170,5.17165,1.48130,6.30885,7.0014,18.1807,13.57995,...,0.0758,0.18005,0.15185,0.31885,-0.0674,0.01880,215.407785,Medical Diagnostics & Research,Healthcare,0
1,1,AAL,"American Airlines Group, Inc.",-99.00000,-99.00000,0.11565,-99.00000,27.3348,-99.0000,2.20925,...,0.0637,-0.00170,-0.06235,0.00975,-99.0000,0.01435,492.976589,Airlines,Industrials,1
2,2,AAP,"Advance Auto Parts, Inc.",2.95660,3.10380,0.70600,14.16840,57.0461,7.4185,5.46130,...,0.0054,0.03670,0.19520,-0.57150,-99.0000,0.10360,158.290852,Retail - Apparel & Specialty,Consumer Cyclical,0
3,3,AAPL,"Apple, Inc.",5.42765,4.62715,3.98235,19.54495,10.0906,17.3279,15.35960,...,0.6019,0.44800,0.44245,-99.00000,0.2694,0.21645,641.441749,Computer Hardware,Technology,1
4,4,ABBV,"AbbVie, Inc.",16.46870,-99.00000,3.01900,10.48360,-99.0000,9.2123,8.74540,...,-99.0000,-99.00000,-99.00000,-99.00000,0.4613,0.14080,127.493713,Drug Manufacturers,Healthcare,0

In [15]:
sandp['above_below_sandp_return'].value_counts()

0    301
1    167
Name: above_below_sandp_return, dtype: int64

In [16]:
# converting industry columns into 1's and 0's.
industry = pd.get_dummies(sandp['industry'])

In [17]:
# converting sector columns into 1's and 0's.
sector = pd.get_dummies(sandp['sector'])

In [18]:
# bringing everything together.
sandp = pd.concat([sandp, industry, sector], axis=1)

In [19]:
# dropping industry and sector columns.
sandp.drop(['industry', 'sector'], axis=1, inplace=True)

In [20]:
sandp = sandp.drop(columns=['symbol', 'name'])

In [21]:
# dropping unnecessary columns.
sandp.drop(['percent_return_on_investment'], axis=1, inplace=True)

In [22]:
names = []
for x in sandp.columns:
    names.append(x)

In [23]:
X = sandp[['net_income_growth','short_term_coverage_ratio','eps_diluted_growth', 'gross_profit_margin', 'price_to_book', 'price_to_sales', 'price_to_free_cash_flow', 'asset_growth', 'Airlines',
'Computer Hardware','Drug Manufacturers', 'Medical Devices','Application Software', 'Semiconductors','Consumer Packaged Goods', 
'Business Services', 'Credit Services','Utilities - Regulated', 'Insurance - Life', 'REITs','Brokers & Exchanges','Biotechnology',
'Asset Management', 'Online Media','Oil & Gas - E&P','Autos', 'Banks', 'Travel & Leisure', 'Entertainment','Agriculture',
'Transportation & Logistics','Oil & Gas - Integrated','Industrial Distribution','Metals & Mining','Oil & Gas - Services',
'Personal Services','Engineering & Construction', 'Oil & Gas - Midstream','Beverages - Non-Alcoholic', 'Truck Manufacturing', 
'Employment Services', 'Forest Products']]
target = sandp['above_below_sandp_return']

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, target_train, target_test = train_test_split(X, target, random_state=76)

In [25]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
classifier.fit(X_train, target_train)

C:\Users\natha\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
print(f'Training Data Score: {classifier.score(X_train, target_train)}')
print(f'Testing Data Score: {classifier.score(X_test, target_test)}')

Training Data Score: 0.7122507122507122
Testing Data Score: 0.7350427350427351

In [28]:
predictions = classifier.predict(X_test)
pd.DataFrame({'Prediction': predictions, 'Actual': target_test}).reset_index(drop=True).head()

   Prediction  Actual
0           1       1
1           0       0
2           1       1
3           1       1
4           0       0

In [29]:
target_test.value_counts()

0    79
1    38
Name: above_below_sandp_return, dtype: int64

In [30]:
target_test.mean()

0.3247863247863248

In [31]:
from sklearn.metrics import classification_report
print(classification_report(target_test, predictions))

              precision    recall  f1-score   support

           0       0.76      0.89      0.82        79
           1       0.64      0.42      0.51        38

    accuracy                           0.74       117
   macro avg       0.70      0.65      0.66       117
weighted avg       0.72      0.74      0.72       117

In [32]:
predictions2 = classifier.predict(X)
pd.DataFrame({'Prediction': predictions2, 'Actual': target}).reset_index(drop=True).head()

   Prediction  Actual
0           0       0
1           1       1
2           1       0
3           0       1
4           0       0

In [33]:
# checking out the SandP_500 table.
sandp = pd.read_sql_query('SELECT * FROM sandp', con=engine)
sandp.head()

,index,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,...,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment,industry,sector,above_below_sandp_return
0,0,A,"Agilent Technologies, Inc.",2.55170,5.17165,1.48130,6.30885,7.0014,18.1807,13.57995,...,0.0758,0.18005,0.15185,0.31885,-0.0674,0.01880,215.407785,Medical Diagnostics & Research,Healthcare,0
1,1,AAL,"American Airlines Group, Inc.",-99.00000,-99.00000,0.11565,-99.00000,27.3348,-99.0000,2.20925,...,0.0637,-0.00170,-0.06235,0.00975,-99.0000,0.01435,492.976589,Airlines,Industrials,1
2,2,AAP,"Advance Auto Parts, Inc.",2.95660,3.10380,0.70600,14.16840,57.0461,7.4185,5.46130,...,0.0054,0.03670,0.19520,-0.57150,-99.0000,0.10360,158.290852,Retail - Apparel & Specialty,Consumer Cyclical,0
3,3,AAPL,"Apple, Inc.",5.42765,4.62715,3.98235,19.54495,10.0906,17.3279,15.35960,...,0.6019,0.44800,0.44245,-99.00000,0.2694,0.21645,641.441749,Computer Hardware,Technology,1
4,4,ABBV,"AbbVie, Inc.",16.46870,-99.00000,3.01900,10.48360,-99.0000,9.2123,8.74540,...,-99.0000,-99.00000,-99.00000,-99.00000,0.4613,0.14080,127.493713,Drug Manufacturers,Healthcare,0

In [34]:
sandp = sandp[['name', 'percent_return_on_investment', 'above_below_sandp_return']]

In [35]:
sandp.head()

,name,percent_return_on_investment,above_below_sandp_return
0,"Agilent Technologies, Inc.",215.407785,0
1,"American Airlines Group, Inc.",492.976589,1
2,"Advance Auto Parts, Inc.",158.290852,0
3,"Apple, Inc.",641.441749,1
4,"AbbVie, Inc.",127.493713,0

In [36]:
sandp['predictions'] = predictions2

In [37]:
sandp.head()

,name,percent_return_on_investment,above_below_sandp_return,predictions
0,"Agilent Technologies, Inc.",215.407785,0,0
1,"American Airlines Group, Inc.",492.976589,1,1
2,"Advance Auto Parts, Inc.",158.290852,0,1
3,"Apple, Inc.",641.441749,1,0
4,"AbbVie, Inc.",127.493713,0,0

In [38]:
sandp['predictions'].value_counts()

0    363
1    105
Name: predictions, dtype: int64

In [39]:
r = 0
predicted_positives = []
for (x,y) in zip(sandp['predictions'],sandp['percent_return_on_investment']):
    if x == 1:
        predicted_positives.append(y)
        if y > 228:
            r += 1
print(r)

71

In [40]:
predicted = pd.DataFrame(predicted_positives)

In [41]:
len(predicted)

105

In [42]:
r/len(predicted)

0.6761904761904762

In [43]:
for x in predicted[0]:
    if x < 0:
        print(x)

In [44]:
gain = predicted.sum()

In [45]:
gain

0    37594.153568
dtype: float64

In [72]:
((gain/100 - len(predicted))/len(predicted))

0    2.580396
dtype: float64

In [64]:
sandp_gain = sandp['percent_return_on_investment'].sum()

In [69]:
((sandp_gain/100 - len(sandp['percent_return_on_investment']))/len(sandp['percent_return_on_investment']))

1.2960780933526503

In [66]:
sandp_gain/100

1074.5645476890404

In [48]:
# import pickle
# # Save the trained model as a pickle string.
# saved_model = pickle.dumps(classifier)

In [49]:
# saved_model

In [170]:
# # Load the pickled model
# clf_from_pickle = pickle.loads(saved_model)

# # Use the loaded pickled model to make predictions
# predictions = clf_from_pickle.predict(X)

# pd.DataFrame({'Prediction': predictions.ravel(), 'Actual': X}).head()

In [61]:
# calculating the total returns for all the companies in the dataframe the 10 year span 09/10-18/19
total_percent = sandp['percent_return_on_investment'].sum()
total_return = (total_percent/100 - len(sandp['percent_return_on_investment']))/len(sandp['percent_return_on_investment'])

In [62]:
total_return

1.2960780933526503

In [52]:
len(sandp['percent_return_on_investment'])

468