In [3]:
import requests
import json
import pandas as pd
import numpy as np
import stocker as st
import yahoo_finance as yf
import yahoofinancials 
from pandas_datareader import data
from stocker import Stocker as st
import matplotlib.pyplot as plt

Using TensorFlow backend.
ERROR:fbprophet:Importing plotly failed. Interactive plots will not work.

In [4]:
API_KEY = 'ce3f5e09820555d58e3615b5f773b88b'

In [ ]:
, 'GS', 'BK', 'ARW', 'M', 'AMAT'

In [55]:
ticker_symbols = ['TRV', 'HBI']
for symbol in ticker_symbols:
    
    response = requests.get(f'https://datafied.api.edgar-online.com/v2/corefinancials/ann.json?primarysymbols={symbol}&fiscalperiod=2019q4&appkey={API_KEY}').json()
    
    data = response['result']['rows'][0]['values']
    
    if symbol == 'TRV':
        
        columns = []
        for x in data:
            columns.append(x['field'])

        values = []
        for x in data:
            values.append(x['value'])

        financials_df = pd.DataFrame([values], columns=columns)
        
    else:
        
        columns2 = []
        for x in data:
            columns2.append(x['field'])
        
        values2 = []
        for x in data:
            values2.append(x['value'])
        
        financials_df2 = pd.DataFrame([values2], columns=columns2)
        
        
#     financials = financials_df.append(financials_df2)
    
#     values2 = []

In [59]:
financials_df

,taxonomyid,cik,companyname,entityid,primaryexchange,marketoperator,markettier,primarysymbol,siccode,sicdescription,...,intangibleassets,otherassets,otherliabilities,retainedearnings,totalassets,totalliabilities,totallongtermdebt,totalreceivablesnet,totalstockholdersequity,treasurystock
0,50,0000086312,"TRAVELERS COMPANIES, INC.",8335,NYSE,NYSE,NYSE,TRV,6331,"Fire, Marine and Casualty Insurance",...,330000000.0,3.799000e+09,7.712100e+10,3.697700e+10,1.101220e+11,8.417900e+10,6.558000e+09,2.076300e+10,2.594300e+10,-3.514300e+10

In [67]:
financials_df.keys()

Index(['taxonomyid', 'cik', 'companyname', 'entityid', 'primaryexchange',
       'marketoperator', 'markettier', 'primarysymbol', 'siccode',
       'sicdescription', 'usdconversionrate', 'restated', 'receiveddate',
       'preliminary', 'periodlengthcode', 'periodlength', 'periodenddate',
       'original', 'formtype', 'fiscalyear', 'fiscalquarter', 'dcn',
       'currencycode', 'crosscalculated', 'audited', 'amended',
       'changeincurrentassets', 'changeincurrentliabilities', 'dividendspaid',
       'effectofexchangerateoncash', 'cashfromfinancingactivities',
       'cashfrominvestingactivities', 'cashfromoperatingactivities',
       'cfdepreciationamortization', 'changeinaccountsreceivable',
       'investmentchangesnet', 'netchangeincash', 'totaladjustments', 'ebit',
       'incomebeforetaxes', 'interestexpense', 'netincome',
       'netincomeapplicabletocommon', 'totalrevenue',
       'sellinggeneraladministrativeexpenses', 'commonstock',
       'deferredcharges', 'cashandcashequivalents',
       'cashcashequivalentsandshortterminvestments', 'goodwill',
       'intangibleassets', 'otherassets', 'otherliabilities',
       'retainedearnings', 'totalassets', 'totalliabilities',
       'totallongtermdebt', 'totalreceivablesnet', 'totalstockholdersequity',
       'treasurystock'],
      dtype='object')

In [60]:
financials_df2

,taxonomyid,cik,companyname,entityid,primaryexchange,marketoperator,markettier,primarysymbol,siccode,sicdescription,...,propertyplantequipmentnet,retainedearnings,totalassets,totalcurrentassets,totalcurrentliabilities,totalliabilities,totallongtermdebt,totalreceivablesnet,totalshorttermdebt,totalstockholdersequity
0,50,0001359841,HANESBRANDS INC.,709744,NYSE,NYSE,NYSE,HBI,5600,Retail-Apparel and Accessory Stores,...,587896000.0,1.546224e+09,7.353986e+09,3.224565e+09,1.771439e+09,6.117391e+09,3.256870e+09,815210000.0,115158000.0,1.236595e+09

In [64]:
test = financials_df.append(financials_df2)

In [73]:
test.drop(columns={'amended', 'audited'})

,capitalexpenditures,cashandcashequivalents,cashcashequivalentsandshortterminvestments,cashfromfinancingactivities,cashfrominvestingactivities,cashfromoperatingactivities,cfdepreciationamortization,changeinaccountsreceivable,changeincurrentassets,changeincurrentliabilities,...,totalcurrentassets,totalcurrentliabilities,totalliabilities,totallongtermdebt,totalreceivablesnet,totalrevenue,totalshorttermdebt,totalstockholdersequity,treasurystock,usdconversionrate
0,NaN,494000000.0,494000000.0,-2.187000e+09,-2.902000e+09,5.205000e+09,5.364000e+09,-227000000.0,-3.927000e+09,1.008000e+09,...,NaN,NaN,8.417900e+10,6.558000e+09,2.076300e+10,3.158100e+10,NaN,2.594300e+10,-3.514300e+10,1.0
0,-101084000.0,328876000.0,328876000.0,-8.240100e+08,-1.096600e+08,8.034320e+08,1.416980e+08,45157000.0,1.924870e+08,-1.810030e+08,...,3.224565e+09,1.771439e+09,6.117391e+09,3.256870e+09,8.152100e+08,6.966923e+09,115158000.0,1.236595e+09,NaN,1.0

In [74]:
test['companyname']

0    TRAVELERS COMPANIES, INC.
0             HANESBRANDS INC.
Name: companyname, dtype: object

In [60]:
microsoft = st.Stocker(ticker='MSFT')

MSFT Stocker Initialized. Data covers 1986-03-13 00:00:00 to 2018-03-27 00:00:00.

In [61]:
total_hold_profit = microsoft.buy_and_hold(start_date='2005-12-30', end_date='2016-12-30', nshares=1)

In [62]:
total_hold_profit

40.95812949571899

In [63]:
financials['Total_Hold_Profit'] = total_hold_profit

In [64]:
financials

,taxonomyid,cik,companyname,entityid,primaryexchange,marketoperator,markettier,primarysymbol,siccode,sicdescription,...,retainedearnings,totalassets,totalcurrentassets,totalcurrentliabilities,totalliabilities,totallongtermdebt,totalreceivablesnet,totalshorttermdebt,totalstockholdersequity,Total_Hold_Profit
0,50,0000789019,MICROSOFT CORP,8528,Nasdaq Global Market,NASDAQ,NASDAQ Global Select Market,MSFT,7372,Services-Prepackaged Software,...,2.415000e+10,2.865560e+11,1.755520e+11,6.942000e+10,1.842260e+11,6.666200e+10,2.952400e+10,5.516000e+09,1.023300e+11,40.958129
0,50,0000789019,MICROSOFT CORP,8528,Nasdaq Global Market,NASDAQ,NASDAQ Global Select Market,MSFT,7372,Services-Prepackaged Software,...,1.368200e+10,2.588480e+11,1.696620e+11,5.848800e+10,1.761300e+11,7.224200e+10,2.648100e+10,3.998000e+09,8.271800e+10,40.958129