In [160]:
import requests
import json
import pandas as pd
import numpy as np
import stocker as st
import yahoo_finance as yf
import yahoofinancials 
from pandas_datareader import data
from stocker import Stocker as st
import matplotlib.pyplot as plt

In [2]:
API_KEY = 'ce3f5e09820555d58e3615b5f773b88b'

In [65]:
ticker_symbols = ['TRV', 'HBI', 'GS', 'BK', 'ARW', 'M', 'AMAT']

In [50]:
response = requests.get(f'https://datafied.api.edgar-online.com/v2/corefinancials/ann.json?primarysymbols={ticker_symbols}&fiscalperiod=2019q4&appkey={API_KEY}').json()

In [51]:
data = response['result']['rows'][0]['values']

In [52]:
columns = []
for x in data:
    columns.append(x['field'])

In [53]:
values = []
for x in data:
    values.append(x['value'])

In [54]:
financials_df = pd.DataFrame([values], columns=columns)

In [3]:
response18 = requests.get(f'https://datafied.api.edgar-online.com/v2/corefinancials/ann?primarysymbols=MSFT&appkey={API_KEY}').json()

In [56]:
data18 = response18['result']['rows'][1]['values']

In [57]:
values18 = []
for x in data18:
    values18.append(x['value'])

In [58]:
financials_df2 = pd.DataFrame([values18], columns=columns)

In [59]:
financials = financials_df.append(financials_df2)

In [60]:
microsoft = st.Stocker(ticker='MSFT')

MSFT Stocker Initialized. Data covers 1986-03-13 00:00:00 to 2018-03-27 00:00:00.

In [61]:
total_hold_profit = microsoft.buy_and_hold(start_date='2005-12-30', end_date='2016-12-30', nshares=1)

In [62]:
total_hold_profit

40.95812949571899

In [63]:
financials['Total_Hold_Profit'] = total_hold_profit

In [64]:
financials

,taxonomyid,cik,companyname,entityid,primaryexchange,marketoperator,markettier,primarysymbol,siccode,sicdescription,...,retainedearnings,totalassets,totalcurrentassets,totalcurrentliabilities,totalliabilities,totallongtermdebt,totalreceivablesnet,totalshorttermdebt,totalstockholdersequity,Total_Hold_Profit
0,50,0000789019,MICROSOFT CORP,8528,Nasdaq Global Market,NASDAQ,NASDAQ Global Select Market,MSFT,7372,Services-Prepackaged Software,...,2.415000e+10,2.865560e+11,1.755520e+11,6.942000e+10,1.842260e+11,6.666200e+10,2.952400e+10,5.516000e+09,1.023300e+11,40.958129
0,50,0000789019,MICROSOFT CORP,8528,Nasdaq Global Market,NASDAQ,NASDAQ Global Select Market,MSFT,7372,Services-Prepackaged Software,...,1.368200e+10,2.588480e+11,1.696620e+11,5.848800e+10,1.761300e+11,7.224200e+10,2.648100e+10,3.998000e+09,8.271800e+10,40.958129

In [ ]:
 'HBI', 'GS', 'BK', 'ARW', 'M', 'AMAT']

In [174]:
frame = pd.DataFrame()
frame

Empty DataFrame
Columns: []
Index: []

In [181]:
response3 = requests.get('https://financialmodelingprep.com/api/v3/financial-ratios/TRV').json()
    
columns = []

columns.append('symbol')

columns.append('date')

data = []

data.append(response3['symbol'])

data.append(response3['ratios'][-1]['date'])

keys = response3['ratios'][-1]['investmentValuationRatios']
for key in keys:
    columns.append(key)

values = response3['ratios'][-1]['investmentValuationRatios']
for value in values:
    data.append(values[value])

dataframe = pd.DataFrame([data], columns=columns)

frame = frame.append(dataframe)

In [182]:
frame

,symbol,date,priceBookValueRatio,priceToBookRatio,priceToSalesRatio,priceEarningsRatio,receivablesTurnover,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,TRV,2009-12-31,0.9719,1.1357,1.1038,7.815,0.9774,6.637,6.4387,0,0,0,,0.050068721774985,0

In [183]:
ticker_symbols = ['TRV', 'AAPL']

dataframe2 = pd.DataFrame()

for ticker in ticker_symbols:
    
    response3 = requests.get(f'https://financialmodelingprep.com/api/v3/financial-ratios/{ticker}').json()
    
    columns = []

    columns.append('symbol')

    columns.append('date')

    data = []

    data.append(response3['symbol'])

    data.append(response3['ratios'][-1]['date'])

    keys = response3['ratios'][-1]['investmentValuationRatios']
    for key in keys:
        columns.append(key)

    values = response3['ratios'][-1]['investmentValuationRatios']
    for value in values:
        data.append(values[value])

    dataframe = pd.DataFrame([data], columns=columns)
    
    dataframe2 = dataframe2.append(dataframe)

In [184]:
dataframe2

,symbol,date,priceBookValueRatio,priceToBookRatio,priceToSalesRatio,priceEarningsRatio,receivablesTurnover,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,TRV,2009-12-31,0.9719,1.1357,1.1038,7.815,0.9774,6.637,6.4387,0,0,0,,0.050068721774985,0
0,AAPL,2009-09-26,5.2835,3.5533,3.8866,20.192,11.4735,18.5821,16.4147,0,0,0,,0.411171875,0

In [ ]:
 else:
        
        columns = []

        columns.append('symbol')

        columns.append('date')

        data = []

        data.append(response3['symbol'])

        data.append(response3['ratios'][-1]['date'])

        keys = response3['ratios'][-1]['investmentValuationRatios']
        for key in keys:
            columns.append(key)

        values = response3['ratios'][-1]['investmentValuationRatios']
        for value in values:
            data.append(values[value])

        trv_df = pd.DataFrame([data], columns=columns)

        dataframe.append(trv_df)